block variables
- var vk = '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#4D76A1" /><path fill-rule="evenodd" clip-rule="evenodd" d="M9.62225 14.3863H10.4071C10.4071 14.3863 10.6442 14.3603 10.7653 14.2298C10.8767 14.11 10.8731 13.885 10.8731 13.885C10.8731 13.885 10.8578 12.8319 11.3466 12.6768C11.8284 12.524 12.4471 13.6947 13.1029 14.1448C13.5989 14.4854 13.9757 14.4107 13.9757 14.4107L15.7292 14.3863C15.7292 14.3863 16.6466 14.3298 16.2116 13.6086C16.176 13.5496 15.9583 13.075 14.9078 12.0999C13.8083 11.0794 13.9556 11.2445 15.28 9.47917C16.0867 8.40409 16.4091 7.74774 16.3084 7.46663C16.2123 7.19888 15.6191 7.26965 15.6191 7.26965L13.6447 7.28195C13.6447 7.28195 13.4983 7.26198 13.3898 7.32687C13.2837 7.39051 13.2154 7.53882 13.2154 7.53882C13.2154 7.53882 12.9029 8.37076 12.4862 9.07827C11.607 10.5712 11.2555 10.65 11.1118 10.5573C10.7776 10.3412 10.861 9.68934 10.861 9.22622C10.861 7.77947 11.0804 7.17624 10.4337 7.02009C10.2191 6.96821 10.0611 6.93399 9.51227 6.92846C8.80778 6.92115 8.21151 6.9306 7.87388 7.09602C7.64928 7.20601 7.47601 7.45112 7.58154 7.4652C7.71202 7.48267 8.00758 7.54488 8.16427 7.75826C8.36659 8.03349 8.35946 8.65169 8.35946 8.65169C8.35946 8.65169 8.47569 10.3548 8.08797 10.5664C7.82183 10.7115 7.45676 10.4152 6.67295 9.0608C6.27133 8.36701 5.96811 7.60014 5.96811 7.60014C5.96811 7.60014 5.90964 7.45682 5.80536 7.38017C5.6788 7.2873 5.50196 7.25771 5.50196 7.25771L3.62578 7.27C3.62578 7.27 3.34413 7.27785 3.24074 7.40031C3.14876 7.50923 3.23343 7.73455 3.23343 7.73455C3.23343 7.73455 4.70229 11.171 6.36545 12.9028C7.89046 14.4906 9.62225 14.3863 9.62225 14.3863Z" fill="white" /></svg>'
- var ok = '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#F96600" /><path d="M9.38523 12.5543C8.41592 12.4531 7.54205 12.2133 6.79432 11.6293C6.70114 11.5565 6.60569 11.4861 6.52046 11.402C6.19319 11.0872 6.16023 10.727 6.41932 10.3565C6.64092 10.0383 7.01251 9.95312 7.40001 10.1361C7.47442 10.1737 7.54584 10.217 7.61364 10.2656C8.30656 10.7365 9.12332 10.9919 9.96109 10.9996C10.7989 11.0073 11.6202 10.7669 12.3216 10.3088C12.4556 10.2002 12.6102 10.1198 12.7761 10.0724C12.9304 10.0268 13.0955 10.0344 13.2449 10.094C13.3944 10.1535 13.5194 10.2616 13.6 10.4008C13.8046 10.7349 13.8023 11.0599 13.55 11.319C13.1633 11.7101 12.696 12.0122 12.1807 12.2043C11.679 12.3845 11.1568 12.5017 10.6261 12.5531C10.7057 12.6406 10.7398 12.6827 10.7943 12.7327C11.5136 13.4565 12.2364 14.177 12.9534 14.902C13.0677 15.0058 13.1451 15.1439 13.1742 15.2955C13.2033 15.4472 13.1825 15.6041 13.1148 15.7429C13.0459 15.895 12.9336 16.0234 12.7922 16.1121C12.6507 16.2008 12.4863 16.2459 12.3193 16.2418C12.124 16.2225 11.9433 16.1299 11.8136 15.9827C11.2705 15.4361 10.7171 14.8997 10.1852 14.3429C10.0307 14.1815 9.95796 14.2122 9.81933 14.352C9.27273 14.9202 8.71705 15.469 8.1591 16.019C8.0555 16.1338 7.91669 16.211 7.76448 16.2384C7.61227 16.2657 7.45528 16.2417 7.31819 16.1702C7.16965 16.1008 7.04431 15.99 6.95722 15.8511C6.87013 15.7122 6.82501 15.5511 6.82728 15.3872C6.84368 15.1846 6.93823 14.9964 7.09092 14.8622C7.80455 14.1508 8.51592 13.4391 9.22501 12.727C9.27273 12.6781 9.31819 12.627 9.38523 12.5543Z" fill="white" /><path d="M9.97503 10.0772C9.34837 10.0736 8.73692 9.88389 8.21822 9.53224C7.69952 9.1806 7.29694 8.68282 7.06153 8.10206C6.82613 7.52129 6.76851 6.88369 6.89597 6.27013C7.02344 5.65657 7.33026 5.09469 7.77751 4.65574C8.22476 4.2168 8.79229 3.92057 9.40814 3.80462C10.024 3.68868 10.6604 3.75824 11.2366 4.00449C11.8129 4.25074 12.303 4.66258 12.6449 5.18778C12.9868 5.71299 13.1649 6.32788 13.1568 6.95449C13.1455 7.7894 12.8047 8.58601 12.2088 9.17087C11.6129 9.75574 10.81 10.0815 9.97503 10.0772ZM11.5466 6.91018C11.5457 6.60387 11.4539 6.30473 11.2829 6.05061C11.1119 5.79649 10.8693 5.59884 10.5859 5.48266C10.3025 5.36649 9.99098 5.33702 9.69081 5.39799C9.39063 5.45897 9.1153 5.60764 8.89967 5.82518C8.68404 6.04272 8.5378 6.31935 8.47948 6.62005C8.42116 6.92075 8.45338 7.232 8.57205 7.51438C8.69072 7.79676 8.89051 8.03758 9.14612 8.20635C9.40174 8.37512 9.70168 8.46425 10.008 8.46245C10.2111 8.462 10.4121 8.42145 10.5994 8.34311C10.7868 8.26478 10.9568 8.15021 11.0998 8.00598C11.2428 7.86174 11.3558 7.69069 11.4325 7.50264C11.5092 7.31459 11.548 7.11325 11.5466 6.91018Z" fill="white" /></svg>'
- var wa = '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0025 0H9.9975C4.48375 0 0 4.485 0 10C0 12.1875 0.705 14.215 1.90375 15.8613L0.6575 19.5763L4.50125 18.3475C6.0825 19.395 7.96875 20 10.0025 20C15.5162 20 20 15.5137 20 10C20 4.48625 15.5162 0 10.0025 0Z" fill="#4CAF50" /><path d="M15.8213 14.1217C15.58 14.803 14.6225 15.368 13.8588 15.533C13.3363 15.6442 12.6538 15.733 10.3563 14.7805C7.4175 13.563 5.525 10.5767 5.3775 10.383C5.23625 10.1892 4.19 8.80172 4.19 7.36672C4.19 5.93172 4.91875 5.23297 5.2125 4.93297C5.45375 4.68672 5.8525 4.57422 6.235 4.57422C6.35875 4.57422 6.47 4.58047 6.57 4.58547C6.86375 4.59797 7.01125 4.61547 7.205 5.07922C7.44625 5.66047 8.03375 7.09547 8.10375 7.24297C8.175 7.39047 8.24625 7.59047 8.14625 7.78422C8.0525 7.98422 7.97 8.07297 7.8225 8.24297C7.675 8.41297 7.535 8.54297 7.3875 8.72547C7.2525 8.88422 7.1 9.05422 7.27 9.34797C7.44 9.63547 8.0275 10.5942 8.8925 11.3642C10.0088 12.358 10.9138 12.6755 11.2375 12.8105C11.4788 12.9105 11.7663 12.8867 11.9425 12.6992C12.1663 12.458 12.4425 12.058 12.7238 11.6642C12.9238 11.3817 13.1763 11.3467 13.4413 11.4467C13.7113 11.5405 15.14 12.2467 15.4338 12.393C15.7275 12.5405 15.9213 12.6105 15.9925 12.7342C16.0625 12.858 16.0625 13.4392 15.8213 14.1217Z" fill="#FAFAFA" /></svg>'
- var tg = '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20Z" fill="#039BE5" /><path d="M4.57581 9.78351L14.2175 6.06601C14.665 5.90434 15.0558 6.17517 14.9108 6.85184L14.9116 6.85101L13.27 14.5852C13.1483 15.1335 12.8225 15.2668 12.3666 15.0085L9.86664 13.166L8.66081 14.3277C8.52747 14.461 8.41497 14.5735 8.15664 14.5735L8.33414 12.0293L12.9675 7.84351C13.1691 7.66601 12.9225 7.56601 12.6566 7.74267L6.93081 11.3477L4.46247 10.5777C3.92664 10.4077 3.91497 10.0418 4.57581 9.78351Z" fill="white" /></svg>'
article
	
	.rating
		.stars
			ul.stars
				li
					<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.825 19L5.45 11.975L0 7.25L7.2 6.625L10 0L12.8 6.625L20 7.25L14.55 11.975L16.175 19L10 15.275L3.825 19Z" fill="#FFC700" />
					</svg>
				li
					<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.825 19L5.45 11.975L0 7.25L7.2 6.625L10 0L12.8 6.625L20 7.25L14.55 11.975L16.175 19L10 15.275L3.825 19Z" fill="#FFC700" />
					</svg>
				li
					<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.825 19L5.45 11.975L0 7.25L7.2 6.625L10 0L12.8 6.625L20 7.25L14.55 11.975L16.175 19L10 15.275L3.825 19Z" fill="#FFC700" />
					</svg>
				li
					<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.825 19L5.45 11.975L0 7.25L7.2 6.625L10 0L12.8 6.625L20 7.25L14.55 11.975L16.175 19L10 15.275L3.825 19Z" fill="#FFC700" />
					</svg>
				li
					<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10 12.925L13.15 14.85L12.325 11.25L15.1 8.85L11.45 8.525L10 5.125V12.925ZM3.825 19L5.45 11.975L0 7.25L7.2 6.625L10 0L12.8 6.625L20 7.25L14.55 11.975L16.175 19L10 15.275L3.825 19Z" fill="#FFC700" />
					</svg>
			span 4.9 (12 отзывов)
			span.duration • 7 дней
		.share
			.wrap
				.button
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.5 19.1663C13.7361 19.1663 13.0868 18.899 12.5521 18.3643C12.0174 17.8295 11.75 17.1802 11.75 16.4163C11.75 16.3094 11.7576 16.1986 11.7729 16.0841C11.7882 15.9695 11.8111 15.8663 11.8417 15.7747L5.37917 12.0163C5.11944 12.2455 4.82917 12.425 4.50833 12.5549C4.1875 12.6847 3.85139 12.7497 3.5 12.7497C2.73611 12.7497 2.08681 12.4823 1.55208 11.9476C1.01736 11.4129 0.75 10.7636 0.75 9.99967C0.75 9.23579 1.01736 8.58648 1.55208 8.05176C2.08681 7.51704 2.73611 7.24967 3.5 7.24967C3.85139 7.24967 4.1875 7.31461 4.50833 7.44447C4.82917 7.57433 5.11944 7.75384 5.37917 7.98301L11.8417 4.22467C11.8111 4.13301 11.7882 4.02988 11.7729 3.9153C11.7576 3.80072 11.75 3.68995 11.75 3.58301C11.75 2.81912 12.0174 2.16981 12.5521 1.63509C13.0868 1.10037 13.7361 0.833008 14.5 0.833008C15.2639 0.833008 15.9132 1.10037 16.4479 1.63509C16.9826 2.16981 17.25 2.81912 17.25 3.58301C17.25 4.3469 16.9826 4.9962 16.4479 5.53092C15.9132 6.06565 15.2639 6.33301 14.5 6.33301C14.1486 6.33301 13.8125 6.26808 13.4917 6.13822C13.1708 6.00836 12.8806 5.82884 12.6208 5.59967L6.15833 9.35801C6.18889 9.44967 6.21181 9.5528 6.22708 9.66738C6.24236 9.78197 6.25 9.89273 6.25 9.99967C6.25 10.1066 6.24236 10.2174 6.22708 10.332C6.21181 10.4465 6.18889 10.5497 6.15833 10.6413L12.6208 14.3997C12.8806 14.1705 13.1708 13.991 13.4917 13.8611C13.8125 13.7313 14.1486 13.6663 14.5 13.6663C15.2639 13.6663 15.9132 13.9337 16.4479 14.4684C16.9826 15.0031 17.25 15.6525 17.25 16.4163C17.25 17.1802 16.9826 17.8295 16.4479 18.3643C15.9132 18.899 15.2639 19.1663 14.5 19.1663ZM14.5 4.49967C14.7597 4.49967 14.9774 4.41183 15.1531 4.23613C15.3288 4.06044 15.4167 3.84273 15.4167 3.58301C15.4167 3.32329 15.3288 3.10558 15.1531 2.92988C14.9774 2.75419 14.7597 2.66634 14.5 2.66634C14.2403 2.66634 14.0226 2.75419 13.8469 2.92988C13.6712 3.10558 13.5833 3.32329 13.5833 3.58301C13.5833 3.84273 13.6712 4.06044 13.8469 4.23613C14.0226 4.41183 14.2403 4.49967 14.5 4.49967ZM3.5 10.9163C3.75972 10.9163 3.97743 10.8285 4.15313 10.6528C4.32882 10.4771 4.41667 10.2594 4.41667 9.99967C4.41667 9.73995 4.32882 9.52224 4.15313 9.34655C3.97743 9.17086 3.75972 9.08301 3.5 9.08301C3.24028 9.08301 3.02257 9.17086 2.84688 9.34655C2.67118 9.52224 2.58333 9.73995 2.58333 9.99967C2.58333 10.2594 2.67118 10.4771 2.84688 10.6528C3.02257 10.8285 3.24028 10.9163 3.5 10.9163ZM14.5 17.333C14.7597 17.333 14.9774 17.2452 15.1531 17.0695C15.3288 16.8938 15.4167 16.6761 15.4167 16.4163C15.4167 16.1566 15.3288 15.9389 15.1531 15.7632C14.9774 15.5875 14.7597 15.4997 14.5 15.4997C14.2403 15.4997 14.0226 15.5875 13.8469 15.7632C13.6712 15.9389 13.5833 16.1566 13.5833 16.4163C13.5833 16.6761 13.6712 16.8938 13.8469 17.0695C14.0226 17.2452 14.2403 17.333 14.5 17.333Z" fill="#32A95E" />
					</svg>
				ul.body
					li.copy
						span Скопировать ссылку
						input(type="text" value="localhost:3000")
					li
						a(href="https://vk.com/share.php?url=#" target="_blank") !{vk}
					li
						a(href="https://connect.ok.ru/offer?url=#" target="_blank") !{ok}
					li
						a(href="https://t.me/share/url?url=#" target="_blank") !{tg}
					li
						a(href="https://api.whatsapp.com/send?text=#" target="_blank") !{wa}

			.fav
				<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10 19.0004L8.55 17.7004C6.86667 16.1837 5.475 14.8754 4.375 13.7754C3.275 12.6754 2.4 11.6879 1.75 10.8129C1.1 9.93789 0.645833 9.13372 0.3875 8.40039C0.129167 7.66706 0 6.91706 0 6.15039C0 4.58372 0.525 3.27539 1.575 2.22539C2.625 1.17539 3.93333 0.650391 5.5 0.650391C6.36667 0.650391 7.19167 0.833724 7.975 1.20039C8.75833 1.56706 9.43333 2.08372 10 2.75039C10.5667 2.08372 11.2417 1.56706 12.025 1.20039C12.8083 0.833724 13.6333 0.650391 14.5 0.650391C16.0667 0.650391 17.375 1.17539 18.425 2.22539C19.475 3.27539 20 4.58372 20 6.15039C20 6.91706 19.8708 7.66706 19.6125 8.40039C19.3542 9.13372 18.9 9.93789 18.25 10.8129C17.6 11.6879 16.725 12.6754 15.625 13.7754C14.525 14.8754 13.1333 16.1837 11.45 17.7004L10 19.0004ZM10 16.3004C11.6 14.8671 12.9167 13.6379 13.95 12.6129C14.9833 11.5879 15.8 10.6962 16.4 9.93789C17 9.17956 17.4167 8.50456 17.65 7.91289C17.8833 7.32122 18 6.73372 18 6.15039C18 5.15039 17.6667 4.31706 17 3.65039C16.3333 2.98372 15.5 2.65039 14.5 2.65039C13.7167 2.65039 12.9917 2.87122 12.325 3.31289C11.6583 3.75456 11.2 4.31706 10.95 5.00039H9.05C8.8 4.31706 8.34167 3.75456 7.675 3.31289C7.00833 2.87122 6.28333 2.65039 5.5 2.65039C4.5 2.65039 3.66667 2.98372 3 3.65039C2.33333 4.31706 2 5.15039 2 6.15039C2 6.73372 2.11667 7.32122 2.35 7.91289C2.58333 8.50456 3 9.17956 3.6 9.93789C4.2 10.6962 5.01667 11.5879 6.05 12.6129C7.08333 13.6379 8.4 14.8671 10 16.3004Z" fill="#32A95E" />
				</svg>

	if is_mobile
		include ./mobile-gallery
	else
		.top-gallery
			a(href="/assets/img/pages/tour/top-gallery/01b.jpg"
				data-fancybox="top-gallery")
				img(src="/assets/img/pages/tour/top-gallery/01m.jpg" width="516" height="453")

			a(href="/assets/img/pages/tour/top-gallery/02b.jpg"
				data-fancybox="top-gallery")
				img(src="/assets/img/pages/tour/top-gallery/02m.jpg" width="307" height="224")

			a(href="/assets/img/pages/tour/top-gallery/03b.jpg"
				data-fancybox="top-gallery")
				img(src="/assets/img/pages/tour/top-gallery/03m.jpg" width="307" height="224")

			a(href="/assets/img/pages/tour/top-gallery/04b.jpg"
				data-fancybox="top-gallery")
				img(src="/assets/img/pages/tour/top-gallery/04m.jpg" width="307" height="224")

			a(href="/assets/img/pages/tour/top-gallery/05b.jpg"
				data-fancybox="top-gallery"
				data-counter="+55"
				)
				img(src="/assets/img/pages/tour/top-gallery/05m.jpg" width="307" height="224")
			
			a(href="/assets/img/pages/tour/top-gallery/06b.jpg"
				data-fancybox="top-gallery" class="hidden")
				img(src="/assets/img/pages/tour/top-gallery/06m.jpg" width="307" height="224" loading="lazy")
	ul.floating-anchors.mt2.mb2
		li
			a(href="#txt") О туре
		li
			a(href="#program") Программа
		li
			a(href="#dates") Даты
		li
			a(href="#inclusion") Условия
		li
			a(href="#hotels") Размещение
		li
			a(href="#reviews") Отзывы
		li
			a(href="#faq") F.A.Q.
		li.all
			a(href="/tours.html") Все туры
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.98018 8.56018L3.17877 7.75877L5.64026 5.29728H3.57948V4.1524H7.58655V8.15947H6.44167V6.0987L3.98018 8.56018ZM9.8763 5.86972V1.86265H5.86923V0.717773H11.0212V5.86972H9.8763ZM1.86216 11.0217C1.54732 11.0217 1.2778 10.9096 1.05359 10.6854C0.829388 10.4612 0.717285 10.1916 0.717285 9.87679V0.717773H1.86216V9.87679H11.0212V11.0217H1.86216Z" fill="#fff" />
			</svg>
	section#cnt
		#content
			.cnt.mb1.collapsed#txt
				h1 КИТЫ, ВУЛКАНЫ, МЕДВЕДИ
				p Внимание! Аэрофлот выложил расписание рейсов, на сезон 2024 года, по цене 14000 рублей в одну сторону!
				p Если Вы хотите отправиться на Камчатку, не переплачивая за перелет, не тяните с бронированием тура и покупкой билетов. Этот тариф действует, как правило, несколько недель после начала продаж!
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vulputate rutrum orci, imperdiet molestie leo auctor ac. Nullam semper sapien non leo ullamcorper, ut feugiat leo faucibus. Nulla ac congue sem. Maecenas sed nunc auctor, ullamcorper erat at, varius massa. Donec iaculis est ut massa interdum ornare. Nulla et dui vitae turpis fringilla sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed imperdiet eros, ac egestas arcu. Sed in nibh luctus ligula finibus posuere non quis felis. Praesent porttitor aliquam orci sit amet sagittis. Vivamus facilisis massa eros, sit amet luctus tellus luctus eu. Vestibulum non leo lobortis nunc elementum pulvinar. Sed non ullamcorper odio, a ullamcorper leo. Nulla id venenatis velit, sed efficitur sem. Sed tempor condimentum tellus eu tincidunt.
				p Nullam ut fringilla mi. Vivamus sit amet diam venenatis massa scelerisque lacinia. Donec efficitur iaculis ex, a mattis augue pulvinar id. Quisque condimentum suscipit bibendum. Sed vitae magna enim. Proin in vehicula sapien. Ut nec dignissim tortor. Suspendisse eget sem posuere, consectetur ligula vel, interdum justo. Curabitur pretium accumsan elit nec pharetra. Praesent pulvinar et enim a semper.
				.expand
					span Подробнее
					<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#32A95E" />
					</svg>
			.video.mb1
				<iframe src="https://player.vimeo.com/video/365545918?h=2a639348dc" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
				<script src="https://player.vimeo.com/api/player.js"></script>
			#expert.mb1
				.left
					span.head Трэвел эксперт тура
					.swiper.expert
						.swiper-wrapper
							.swiper-slide
								span.name Владимир Кушнарев
								img(src="/assets/img/pages/tour/expert/ava1.png" loading="lazy" width="132" height="132")
							.swiper-slide
								span.name Виктория Зорина
								img(src="/assets/img/pages/tour/expert/ava2.png" loading="lazy" width="132" height="132")
						.arrows
							<svg class="prev" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13 8L11.25 9.75L13.25 11.75H8V14.25H13.25L11.25 16.25L13 18L18 13L13 8ZM13 0.5C14.7292 0.5 16.3542 0.828125 17.875 1.48438C19.3958 2.14062 20.7188 3.03125 21.8438 4.15625C22.9688 5.28125 23.8594 6.60417 24.5156 8.125C25.1719 9.64583 25.5 11.2708 25.5 13C25.5 14.7292 25.1719 16.3542 24.5156 17.875C23.8594 19.3958 22.9688 20.7188 21.8438 21.8438C20.7188 22.9688 19.3958 23.8594 17.875 24.5156C16.3542 25.1719 14.7292 25.5 13 25.5C11.2708 25.5 9.64583 25.1719 8.125 24.5156C6.60417 23.8594 5.28125 22.9687 4.15625 21.8437C3.03125 20.7187 2.14062 19.3958 1.48438 17.875C0.828125 16.3542 0.5 14.7292 0.5 13C0.5 11.2708 0.828125 9.64583 1.48438 8.125C2.14063 6.60417 3.03125 5.28125 4.15625 4.15625C5.28125 3.03125 6.60417 2.14062 8.125 1.48437C9.64583 0.828125 11.2708 0.5 13 0.5ZM13 3C10.2083 3 7.84375 3.96875 5.90625 5.90625C3.96875 7.84375 3 10.2083 3 13C3 15.7917 3.96875 18.1562 5.90625 20.0937C7.84375 22.0312 10.2083 23 13 23C15.7917 23 18.1562 22.0312 20.0937 20.0937C22.0312 18.1562 23 15.7917 23 13C23 10.2083 22.0312 7.84375 20.0937 5.90625C18.1562 3.96875 15.7917 3 13 3Z" fill="#1C1B1F" />
							</svg>			
							<svg class="next" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13 8L11.25 9.75L13.25 11.75H8V14.25H13.25L11.25 16.25L13 18L18 13L13 8ZM13 0.5C14.7292 0.5 16.3542 0.828125 17.875 1.48438C19.3958 2.14062 20.7188 3.03125 21.8438 4.15625C22.9688 5.28125 23.8594 6.60417 24.5156 8.125C25.1719 9.64583 25.5 11.2708 25.5 13C25.5 14.7292 25.1719 16.3542 24.5156 17.875C23.8594 19.3958 22.9688 20.7188 21.8438 21.8438C20.7188 22.9688 19.3958 23.8594 17.875 24.5156C16.3542 25.1719 14.7292 25.5 13 25.5C11.2708 25.5 9.64583 25.1719 8.125 24.5156C6.60417 23.8594 5.28125 22.9687 4.15625 21.8437C3.03125 20.7187 2.14062 19.3958 1.48438 17.875C0.828125 16.3542 0.5 14.7292 0.5 13C0.5 11.2708 0.828125 9.64583 1.48438 8.125C2.14063 6.60417 3.03125 5.28125 4.15625 4.15625C5.28125 3.03125 6.60417 2.14062 8.125 1.48437C9.64583 0.828125 11.2708 0.5 13 0.5ZM13 3C10.2083 3 7.84375 3.96875 5.90625 5.90625C3.96875 7.84375 3 10.2083 3 13C3 15.7917 3.96875 18.1562 5.90625 20.0937C7.84375 22.0312 10.2083 23 13 23C15.7917 23 18.1562 22.0312 20.0937 20.0937C22.0312 18.1562 23 15.7917 23 13C23 10.2083 22.0312 7.84375 20.0937 5.90625C18.1562 3.96875 15.7917 3 13 3Z" fill="#1C1B1F" />
							</svg>
				img.group(src="/assets/img/pages/tour/expert/group.jpg" width="450" heigth="248" loading="lazy")
			section#program.mb1
				.head
					h3 Программа тура на Камчатку
					.row
						.email
							span Получить на email
							<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H18C18.55 0 19.0208 0.195833 19.4125 0.5875C19.8042 0.979167 20 1.45 20 2V14C20 14.55 19.8042 15.0208 19.4125 15.4125C19.0208 15.8042 18.55 16 18 16H2ZM10 9L2 4V14H18V4L10 9ZM10 7L18 2H2L10 7ZM2 4V2V14V4Z" fill="#807F81" />
							</svg>
							form
								input(type="text" placeholder="Ваш email" required)
								button(type="submit" ) Отправить
						.expand
							span Раскрыть все дни
							<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#807F81" />
							</svg>
				.body
					ul
						li
							.head
								span.name День 1. Здравствуй, Камчатка!
								<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#807F81" />
								</svg>
								img(src="/assets/img/pages/tour/program/01.jpg" width="129" heigth="92" loading="lazy")
							.body
								.txt
									p Ранним утром отправляемся в порт и заходим на борт нашей океанской яхты. Cегодня мы запланировали 10-ти часовой морской поход в бухту Русская. Завтрак, обед и ужин наш повар приготовит на борту яхты. 
									p Цель минимум, насладиться морским простором и увидеть колонию ластоногих. Цель максимум, напроситься "на свидание" с китами и касатками. Желающие cмогут испытать удачу на морской рыбалке и добудут рыбу для нашего обеда и ужина. Возвращение в порт около 16-17 часов. Отдых в отеле.	
						li
							.head
								span.name День 2. Морской поход
								<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#807F81" />
								</svg>
								img(src="/assets/img/pages/tour/program/02.jpg" width="129" heigth="92" loading="lazy")
							.body
								.txt
									p Ранним утром отправляемся в порт и заходим на борт нашей океанской яхты. Cегодня мы запланировали 10-ти часовой морской поход в бухту Русская. Завтрак, обед и ужин наш повар приготовит на борту яхты. 
									p Цель минимум, насладиться морским простором и увидеть колонию ластоногих. Цель максимум, напроситься "на свидание" с китами и касатками. Желающие cмогут испытать удачу на морской рыбалке и добудут рыбу для нашего обеда и ужина. Возвращение в порт около 16-17 часов. Отдых в отеле.	
								.gallery
									img(src="/assets/img/pages/tour/program/gallery/01.jpg" loading="lazy")
									img(src="/assets/img/pages/tour/program/gallery/02.jpg" loading="lazy")
									img(src="/assets/img/pages/tour/program/gallery/03.jpg" loading="lazy")
									img(src="/assets/img/pages/tour/program/gallery/01.jpg" loading="lazy")
									img(src="/assets/img/pages/tour/program/gallery/02.jpg" loading="lazy")
			section#dates.mb1
				.year
					.head
						h3 Даты 2024
						span.comment Депозит 30%, фиксированная цена в договоре
					ul.body
						li
							span.month Июнь
							ul
								li 3 - 10 июня
								li 11 - 18 июня
								li 19 - 26 июня
						li
							span.month Июль
							ul
								li 29 июня – 6 июля
								li 30 июня – 7 июля
								li 7 – 14 июля
								li 29 июня – 6 июля
								li 30 июня – 7 июля
								li 7 – 14 июля
								li 29 июня – 6 июля
								li 30 июня – 7 июля
								li 7 – 14 июля
			section#inclusion.mb1
				.included
					h3 Включено в стоимость
					ul
						li Двухместное размещение в уютной гостинице, с термальным горячим бассейном на 6 ночей. Стандартное размещение в двухместных номерах 16м2 с двумя раздельными кроватями и санузлом;
						li Однодневный сплав по реке, с рыбалкой и ухой от нашего повара;
				.not-included 
					h3 Оплачивается отдельно
					ul
						li Перелет до а/п Петропавловска-Камчатского (код аэропорта PKC);
						li Одноместное размещение в двухместном номере 16м2, с двумя раздельными кроватями и санузлом (+25000 рублей, вносится одновременно с депозитом);
			include ./includes/hotels
			section#reviews.mb1
				.head
					h3 Отзывы наших гостей
					a(href="/reviews.html?resid=9") Все отзывы
						<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M8.37461 6L2.37461 12L0.974609 10.6L5.57461 6L0.974609 1.4L2.37461 -6.11959e-08L8.37461 6Z" fill="#807F81" />
						</svg>
				ul
					li
						.ava
							img(src="/assets/img/pages/tour/reviews/ava.jpg" width="69" height="69" loading="lazy")
							span.name Вадим
						.cnt
							p Доволен, как медведь в период нереста )) (Достаточно по Камчатски, по-моему)Насыщенная видами, впечатлениями, свежайшей рыбой икрой и крабами поездка. Отдых для глаз, праздник для желудка!
								
					li
						.ava
							img(src="/assets/img/pages/tour/reviews/ava.jpg" width="69" height="69" loading="lazy")
							span.name Светлана
						.cnt
							p В августе 2023 года нам выпала большая удача побывать на Камчатке с командой Владимира. Отличная организация, продуманность всех нюансов тура сделали поездку в разы интересней. Камчатский край встретил нас прекрасной погодой, природа просто поразила своей первозданной красотой. 
							p Как прекрасен и могуч Тихий океан, какой ласковый и нежный чёрный вулканический песок на Халактырском пляже, это словами просто не описать. Красота горного массива Вачкажец завораживает своей изумрудной зеленью, на зеркальную гладь озера можно смотреть бесконечно. А какие здесь каменные берёзы, это просто фантастика. 
			section#faq
				h3 Популярные вопросы
				ul
					li.open
						.head
							span Откуда вылет и куда прилет?
							<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#807F81" />
							</svg>
						.body
							p Впервые на Камчатку? О, это будет незабываемое свидание с первозданным! По-хорошему вам завидуем! :)
							p Камчатка прекрасна, но к свиданию с ней нужно подойти основательно.	
					li
						.head
							span Собираюсь впервые на Камчатку. Смотрю разные варианты авторских программ. На что стоит обращать внимание в первую очередь?
							<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#807F81" />
							</svg>
						.body
							p content disposition	
		aside
			.floating
				form#aside_order.mb1
					.header
						span.old_price 159 000 ₽
						span.price 139 000 ₽
						span.discount -26%
					.date
						span.header Выберите дату тура:
						.wrap
							.select
								.head(data-id="1")
									span 19.02.2024 - 24.02.2024
									<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#1C1B1F" />
									</svg>
								ul.body
									li.active(data-id="1")
										span.date 19.02.2024 - 24.02.2024
										span.leave 8 мест
									li.disabled(data-id="2")
										span.date 20.02.2024 - 25.02.2024
										span.leave 0 мест
									li(data-id="3")
										span.date 21.02.2024 - 26.02.2024
										span.leave 1 место
									li(data-id="4")
										span.date 22.02.2024 - 27.02.2024
										span.leave 1 место
							.counter
								label Участников
								.arrows
									button.down(type="button")
										<svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0 2V0H14V2H0Z" fill="#32A95E" />
										</svg>
									input(type="number" min="1" value="1")
									button.up(type="button")
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M6 8H0V6H6V0H8V6H14V8H8V14H6V8Z" fill="#32A95E" />
										</svg>
					.range
						.grad
							.filled(style="--prog: 70%;")
						.leave Осталось <span>8</span> из 24 мест
					ul.messages
						li
							span Гарантия проведения
							i.tooltip
								span.tooltiptext все заезды состоятся даже при неполной группе
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.16669 13.167H9.83335V8.16699H8.16669V13.167ZM9.00002 6.50033C9.23613 6.50033 9.43405 6.42046 9.59377 6.26074C9.75349 6.10102 9.83335 5.9031 9.83335 5.66699C9.83335 5.43088 9.75349 5.23296 9.59377 5.07324C9.43405 4.91352 9.23613 4.83366 9.00002 4.83366C8.76391 4.83366 8.56599 4.91352 8.40627 5.07324C8.24655 5.23296 8.16669 5.43088 8.16669 5.66699C8.16669 5.9031 8.24655 6.10102 8.40627 6.26074C8.56599 6.42046 8.76391 6.50033 9.00002 6.50033ZM9.00002 17.3337C7.84724 17.3337 6.76391 17.1149 5.75002 16.6774C4.73613 16.2399 3.85419 15.6462 3.10419 14.8962C2.35419 14.1462 1.76044 13.2642 1.32294 12.2503C0.885437 11.2364 0.666687 10.1531 0.666687 9.00033C0.666687 7.84755 0.885437 6.76421 1.32294 5.75033C1.76044 4.73644 2.35419 3.85449 3.10419 3.10449C3.85419 2.35449 4.73613 1.76074 5.75002 1.32324C6.76391 0.885742 7.84724 0.666992 9.00002 0.666992C10.1528 0.666992 11.2361 0.885742 12.25 1.32324C13.2639 1.76074 14.1459 2.35449 14.8959 3.10449C15.6459 3.85449 16.2396 4.73644 16.6771 5.75033C17.1146 6.76421 17.3334 7.84755 17.3334 9.00033C17.3334 10.1531 17.1146 11.2364 16.6771 12.2503C16.2396 13.2642 15.6459 14.1462 14.8959 14.8962C14.1459 15.6462 13.2639 16.2399 12.25 16.6774C11.2361 17.1149 10.1528 17.3337 9.00002 17.3337ZM9.00002 15.667C10.8611 15.667 12.4375 15.0212 13.7292 13.7295C15.0209 12.4378 15.6667 10.8614 15.6667 9.00033C15.6667 7.13921 15.0209 5.56283 13.7292 4.27116C12.4375 2.97949 10.8611 2.33366 9.00002 2.33366C7.13891 2.33366 5.56252 2.97949 4.27085 4.27116C2.97919 5.56283 2.33335 7.13921 2.33335 9.00033C2.33335 10.8614 2.97919 12.4378 4.27085 13.7295C5.56252 15.0212 7.13891 15.667 9.00002 15.667Z" fill="#A8A8A8" />
								</svg>
						li
							span Не требует оплаты
							i.tooltip
								span.tooltiptext Бронирование не потребует оплаты. Только после обсуждения всех условий и подписания договора, вы получите счёт на оплату депозита
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.16669 13.167H9.83335V8.16699H8.16669V13.167ZM9.00002 6.50033C9.23613 6.50033 9.43405 6.42046 9.59377 6.26074C9.75349 6.10102 9.83335 5.9031 9.83335 5.66699C9.83335 5.43088 9.75349 5.23296 9.59377 5.07324C9.43405 4.91352 9.23613 4.83366 9.00002 4.83366C8.76391 4.83366 8.56599 4.91352 8.40627 5.07324C8.24655 5.23296 8.16669 5.43088 8.16669 5.66699C8.16669 5.9031 8.24655 6.10102 8.40627 6.26074C8.56599 6.42046 8.76391 6.50033 9.00002 6.50033ZM9.00002 17.3337C7.84724 17.3337 6.76391 17.1149 5.75002 16.6774C4.73613 16.2399 3.85419 15.6462 3.10419 14.8962C2.35419 14.1462 1.76044 13.2642 1.32294 12.2503C0.885437 11.2364 0.666687 10.1531 0.666687 9.00033C0.666687 7.84755 0.885437 6.76421 1.32294 5.75033C1.76044 4.73644 2.35419 3.85449 3.10419 3.10449C3.85419 2.35449 4.73613 1.76074 5.75002 1.32324C6.76391 0.885742 7.84724 0.666992 9.00002 0.666992C10.1528 0.666992 11.2361 0.885742 12.25 1.32324C13.2639 1.76074 14.1459 2.35449 14.8959 3.10449C15.6459 3.85449 16.2396 4.73644 16.6771 5.75033C17.1146 6.76421 17.3334 7.84755 17.3334 9.00033C17.3334 10.1531 17.1146 11.2364 16.6771 12.2503C16.2396 13.2642 15.6459 14.1462 14.8959 14.8962C14.1459 15.6462 13.2639 16.2399 12.25 16.6774C11.2361 17.1149 10.1528 17.3337 9.00002 17.3337ZM9.00002 15.667C10.8611 15.667 12.4375 15.0212 13.7292 13.7295C15.0209 12.4378 15.6667 10.8614 15.6667 9.00033C15.6667 7.13921 15.0209 5.56283 13.7292 4.27116C12.4375 2.97949 10.8611 2.33366 9.00002 2.33366C7.13891 2.33366 5.56252 2.97949 4.27085 4.27116C2.97919 5.56283 2.33335 7.13921 2.33335 9.00033C2.33335 10.8614 2.97919 12.4378 4.27085 13.7295C5.56252 15.0212 7.13891 15.667 9.00002 15.667Z" fill="#A8A8A8" />
								</svg>
					button(type="submit") Забронировать
				.questions#aside_questions.mb1
					span.head На данном этапе могут возникнуть вопросы
					ul.helpers
						li
							span.type Общие вопросы о туре
							span.name
								span Владимир Кушнарев
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.16669 13.167H9.83335V8.16699H8.16669V13.167ZM9.00002 6.50033C9.23613 6.50033 9.43405 6.42046 9.59377 6.26074C9.75349 6.10102 9.83335 5.9031 9.83335 5.66699C9.83335 5.43088 9.75349 5.23296 9.59377 5.07324C9.43405 4.91352 9.23613 4.83366 9.00002 4.83366C8.76391 4.83366 8.56599 4.91352 8.40627 5.07324C8.24655 5.23296 8.16669 5.43088 8.16669 5.66699C8.16669 5.9031 8.24655 6.10102 8.40627 6.26074C8.56599 6.42046 8.76391 6.50033 9.00002 6.50033ZM9.00002 17.3337C7.84724 17.3337 6.76391 17.1149 5.75002 16.6774C4.73613 16.2399 3.85419 15.6462 3.10419 14.8962C2.35419 14.1462 1.76044 13.2642 1.32294 12.2503C0.885437 11.2364 0.666687 10.1531 0.666687 9.00033C0.666687 7.84755 0.885437 6.76421 1.32294 5.75033C1.76044 4.73644 2.35419 3.85449 3.10419 3.10449C3.85419 2.35449 4.73613 1.76074 5.75002 1.32324C6.76391 0.885742 7.84724 0.666992 9.00002 0.666992C10.1528 0.666992 11.2361 0.885742 12.25 1.32324C13.2639 1.76074 14.1459 2.35449 14.8959 3.10449C15.6459 3.85449 16.2396 4.73644 16.6771 5.75033C17.1146 6.76421 17.3334 7.84755 17.3334 9.00033C17.3334 10.1531 17.1146 11.2364 16.6771 12.2503C16.2396 13.2642 15.6459 14.1462 14.8959 14.8962C14.1459 15.6462 13.2639 16.2399 12.25 16.6774C11.2361 17.1149 10.1528 17.3337 9.00002 17.3337ZM9.00002 15.667C10.8611 15.667 12.4375 15.0212 13.7292 13.7295C15.0209 12.4378 15.6667 10.8614 15.6667 9.00033C15.6667 7.13921 15.0209 5.56283 13.7292 4.27116C12.4375 2.97949 10.8611 2.33366 9.00002 2.33366C7.13891 2.33366 5.56252 2.97949 4.27085 4.27116C2.97919 5.56283 2.33335 7.13921 2.33335 9.00033C2.33335 10.8614 2.97919 12.4378 4.27085 13.7295C5.56252 15.0212 7.13891 15.667 9.00002 15.667Z" fill="#A8A8A8" />
								</svg>
							.ava
								img.person(src="/assets/img/pages/tour/form/ava1.png" width="44" height="44")
								a.wa(href="#" target="_blank")
									img(src="/assets/img/pages/tour/form/wa.png" width="30" height="30")
								a.tg(href="#" target="_blank")
									img(src="/assets/img/pages/tour/form/tg.png" width="30" height="30")
						li
							span.type Вопросы бронирования
							span.name
								span Виктория Зорина
								<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.16669 13.167H9.83335V8.16699H8.16669V13.167ZM9.00002 6.50033C9.23613 6.50033 9.43405 6.42046 9.59377 6.26074C9.75349 6.10102 9.83335 5.9031 9.83335 5.66699C9.83335 5.43088 9.75349 5.23296 9.59377 5.07324C9.43405 4.91352 9.23613 4.83366 9.00002 4.83366C8.76391 4.83366 8.56599 4.91352 8.40627 5.07324C8.24655 5.23296 8.16669 5.43088 8.16669 5.66699C8.16669 5.9031 8.24655 6.10102 8.40627 6.26074C8.56599 6.42046 8.76391 6.50033 9.00002 6.50033ZM9.00002 17.3337C7.84724 17.3337 6.76391 17.1149 5.75002 16.6774C4.73613 16.2399 3.85419 15.6462 3.10419 14.8962C2.35419 14.1462 1.76044 13.2642 1.32294 12.2503C0.885437 11.2364 0.666687 10.1531 0.666687 9.00033C0.666687 7.84755 0.885437 6.76421 1.32294 5.75033C1.76044 4.73644 2.35419 3.85449 3.10419 3.10449C3.85419 2.35449 4.73613 1.76074 5.75002 1.32324C6.76391 0.885742 7.84724 0.666992 9.00002 0.666992C10.1528 0.666992 11.2361 0.885742 12.25 1.32324C13.2639 1.76074 14.1459 2.35449 14.8959 3.10449C15.6459 3.85449 16.2396 4.73644 16.6771 5.75033C17.1146 6.76421 17.3334 7.84755 17.3334 9.00033C17.3334 10.1531 17.1146 11.2364 16.6771 12.2503C16.2396 13.2642 15.6459 14.1462 14.8959 14.8962C14.1459 15.6462 13.2639 16.2399 12.25 16.6774C11.2361 17.1149 10.1528 17.3337 9.00002 17.3337ZM9.00002 15.667C10.8611 15.667 12.4375 15.0212 13.7292 13.7295C15.0209 12.4378 15.6667 10.8614 15.6667 9.00033C15.6667 7.13921 15.0209 5.56283 13.7292 4.27116C12.4375 2.97949 10.8611 2.33366 9.00002 2.33366C7.13891 2.33366 5.56252 2.97949 4.27085 4.27116C2.97919 5.56283 2.33335 7.13921 2.33335 9.00033C2.33335 10.8614 2.97919 12.4378 4.27085 13.7295C5.56252 15.0212 7.13891 15.667 9.00002 15.667Z" fill="#A8A8A8" />
								</svg>
							.ava
								img.person(src="/assets/img/pages/tour/form/ava2.png" width="44" height="44")
								a.wa(href="#" target="_blank")
									img(src="/assets/img/pages/tour/form/wa.png" width="30" height="30")
								a.tg(href="#" target="_blank")
									img(src="/assets/img/pages/tour/form/tg.png" width="30" height="30")
				.little_float
					a.tg(href="#" target="_blank")
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M18 36C27.9411 36 36 27.9411 36 18C36 8.05887 27.9411 0 18 0C8.05887 0 0 8.05887 0 18C0 27.9411 8.05887 36 18 36Z" fill="#039BE5" />
							<path d="M8.23653 17.6103L25.5915 10.9188C26.397 10.6278 27.1005 11.1153 26.8395 12.3333L26.841 12.3318L23.886 26.2533C23.667 27.2403 23.0805 27.4803 22.26 27.0153L17.76 23.6988L15.5895 25.7898C15.3495 26.0298 15.147 26.2323 14.682 26.2323L15.0015 21.6528L23.3415 14.1183C23.7045 13.7988 23.2605 13.6188 22.782 13.9368L12.4755 20.4258L8.03253 19.0398C7.06803 18.7338 7.04703 18.0753 8.23653 17.6103Z" fill="white" />
						</svg>
					a.wa(href="#" target="_blank")
						<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.0045 0H17.9955C8.07075 0 0 8.073 0 18C0 21.9375 1.269 25.587 3.42675 28.5503L1.1835 35.2373L8.10225 33.0255C10.9485 34.911 14.3438 36 18.0045 36C27.9292 36 36 27.9247 36 18C36 8.07525 27.9292 0 18.0045 0Z" fill="#4CAF50" />
						<path d="M28.4782 25.4179C28.044 26.6442 26.3205 27.6612 24.9457 27.9582C24.0052 28.1584 22.7767 28.3182 18.6412 26.6037C13.3515 24.4122 9.94499 19.0369 9.67949 18.6882C9.42524 18.3394 7.54199 15.8419 7.54199 13.2589C7.54199 10.6759 8.85374 9.41817 9.38249 8.87817C9.81674 8.43492 10.5345 8.23242 11.223 8.23242C11.4457 8.23242 11.646 8.24367 11.826 8.25267C12.3547 8.27517 12.6202 8.30667 12.969 9.14142C13.4032 10.1877 14.4607 12.7707 14.5867 13.0362C14.715 13.3017 14.8432 13.6617 14.6632 14.0104C14.4945 14.3704 14.346 14.5302 14.0805 14.8362C13.815 15.1422 13.563 15.3762 13.2975 15.7047C13.0545 15.9904 12.78 16.2964 13.086 16.8252C13.392 17.3427 14.4495 19.0684 16.0065 20.4544C18.0157 22.2432 19.6447 22.8147 20.2275 23.0577C20.6617 23.2377 21.1792 23.1949 21.4965 22.8574C21.8992 22.4232 22.3965 21.7032 22.9027 20.9944C23.2627 20.4859 23.7172 20.4229 24.1942 20.6029C24.6802 20.7717 27.252 22.0429 27.7807 22.3062C28.3095 22.5717 28.6582 22.6977 28.7865 22.9204C28.9125 23.1432 28.9125 24.1894 28.4782 25.4179Z" fill="#FAFAFA" />
					</svg>	
	include ./includes/cnt-gallery
	//- include ./includes/why
			

	
	section#tg.mb1
		.body
			.txt
				h3
					a(href="https://t.me/adventuretimeprorus" target="_blank") Наш телеграм-канал
				span Мы стараемся быть максимально открытыми. Для наших старых и новых друзей мы создали Telegram канал, где публикуем не только трансляции с маршрутов групп, но и клиентские отзывы о туре, работе гидов, уровне комфорта на маршруте, качестве питания и прочую, полезную для вас информацию. Заходите, почитайте...
			img(src="/assets/img/pages/tour/tg/icon.jpg" width="140" height="140" loading="lazy")
	include ../index/tourlist.pug
