article
	include ../../ui/bread
	h1 ОТЗЫВЫ
	.select-tour.mb1
		.head
			span Выберите тур
			<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 8.37461L0 2.37461L1.4 0.974609L6 5.57461L10.6 0.974609L12 2.37461L6 8.37461Z" fill="#636363" />
			</svg>
		ul.body
			li Киты, Вулканы, Медведи
			li Туры в Дагестан
			li Туры на Алтай
			li Туры на Камчатку
	section.cnt.mb1
		ul.reviews-list
			//li.closed
			li
				.ava
					<svg width="69" height="61" viewBox="0 0 69 61" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M35.0897 0.00513746C16.0392 -0.320334 0.330613 14.8597 0.00514086 33.9102C-0.179727 44.7119 4.63465 54.4201 12.3002 60.8761C12.8014 60.4294 13.3502 60.0391 13.9366 59.7123L24.2306 54.0972C24.8937 53.7355 25.447 53.2019 25.8326 52.5524C26.2181 51.903 26.4216 51.1617 26.4217 50.4064V46.1883C26.4217 46.1883 23.4 42.5742 22.2479 37.5529C21.7602 37.2407 21.3586 36.8113 21.0798 36.3039C20.801 35.7965 20.6538 35.2273 20.6518 34.6483V30.0319C20.6518 29.0164 21.1035 28.109 21.8052 27.4736V20.8002C21.8052 20.8002 20.4343 10.415 34.4986 10.415C48.5629 10.415 47.192 20.8002 47.192 20.8002V27.4736C47.895 28.109 48.3455 29.0164 48.3455 30.0319V34.6483C48.3455 36.2002 47.304 37.506 45.8901 37.9421C45.1064 40.405 43.9509 42.7336 42.4636 44.8473C42.0847 45.3824 41.7306 45.8355 41.4208 46.1883V50.5131C41.4208 52.1053 42.3204 53.5622 43.7446 54.273L54.7677 59.7839C55.4169 60.115 56.0244 60.5224 56.5773 60.9972C64.0111 54.7976 68.8138 45.5282 68.9921 35.0897C69.3202 16.0392 54.1415 0.330609 35.0897 0.00513746Z" fill="#D9D9D9" />
					</svg>
					span.name Вадим К.
					span.country Россия
					button.collapse.mt1
						<svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6 0.625391L12 6.62539L10.6 8.02539L6 3.42539L1.4 8.02539L0 6.62539L6 0.625391Z" fill="#898989" />
						</svg>
				.body
					.head
						span.name Тур “Киты, вулканы, медведи”
						span.date 04.03.2024
					.cnt
						p Доволен, как медведь в период нереста )) (Достаточно по Камчатски, по-моему)Насыщенная видами, впечатлениями, свежайшей рыбой икрой и крабами поездка.Отдых для глаз, праздник для желудка!		
						p Гостиница очень большая, громадная. Заселение заняло 1,5 часа, 1,5 часа стояния в очереди на маленький ресепшен в такой большой гостинице. Ресепшен очень маленький, работает максимум 3 сотрудника
						p Обслуживание и кухня как всегда на отлично. Вот с музыкой как совсем не очень. Девушка пела, через слово слышно и вообще не понятно о чём
					.gallery

						a(
							href="/assets/img/pages/reviews/gallery/01b.jpg"
							data-fancybox="gallery-1"
							)
							img(src="/assets/img/pages/reviews/gallery/01m.jpg" width="85" height="85")
						a(
							href="/assets/img/pages/reviews/gallery/02b.jpg"
							data-fancybox="gallery-1"
							)
							img(src="/assets/img/pages/reviews/gallery/02m.jpg" width="85" height="85")
						a(
							href="/assets/img/pages/reviews/gallery/03b.jpg"
							data-fancybox="gallery-1"
							)
							img(src="/assets/img/pages/reviews/gallery/03m.jpg" width="85" height="85")
						a(
							href="/assets/img/pages/reviews/gallery/41b.jpg"
							data-fancybox="gallery-1"
							)
							img(src="/assets/img/pages/reviews/gallery/04m.jpg" width="85" height="85")
						a(
							href="/assets/img/pages/reviews/gallery/05b.jpg"
							data-fancybox="gallery-1"
							)
							img(src="/assets/img/pages/reviews/gallery/05m.jpg" width="85" height="85")
		include ./form
